In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [89]:
summoner_name = "쪼렙이다말로하자"

match = pd.read_json("data/data_summoner_match_data_{name}.json".format(name=summoner_name))
timeline = pd.read_json("data/data_summoner_match_timeline_data_{name}.json".format(name=summoner_name))

# 경기 관련 데이터

In [90]:
match_length = len(match["info"])

In [91]:
info = match["info"]

participants = []
teams = []
for i in range(match_length):
    participants.append(info[i]["participants"])
    teams.append(info[i]["teams"])
    del(info[i]["participants"])
    del(info[i]["teams"])

In [92]:
df_info = pd.json_normalize(info)
df_info_1 = df_info[["gameDuration", "gameMode", "gameType", "gameVersion", "mapId"]]
display(df_info_1.head(10))

   gameDuration gameMode      gameType     gameVersion  mapId
0       1869582  CLASSIC  MATCHED_GAME  11.19.398.9466     11
1       1266259     ARAM  MATCHED_GAME  11.18.395.7538     12
2       1188428     ARAM  MATCHED_GAME  11.18.395.7538     12
3       1160458     ARAM  MATCHED_GAME  11.18.395.7538     12
4        939280     ARAM  MATCHED_GAME  11.18.395.7538     12
5       1067782     ARAM  MATCHED_GAME  11.18.395.7538     12
6       1160782     ARAM  MATCHED_GAME  11.18.395.7538     12
7        825319     ARAM  MATCHED_GAME  11.18.395.7538     12
8       1162655     ARAM  MATCHED_GAME  11.18.395.7538     12
9       1397866     ARAM  MATCHED_GAME  11.18.395.7538     12

In [93]:
df_participants = pd.json_normalize(participants)
display(df_participants.head(1))

,0,1,2,3,4,5,6,7,8,9
0,"{'assists': 13, 'baronKills': 0, 'bountyLevel'...","{'assists': 16, 'baronKills': 0, 'bountyLevel'...","{'assists': 10, 'baronKills': 1, 'bountyLevel'...","{'assists': 13, 'baronKills': 0, 'bountyLevel'...","{'assists': 26, 'baronKills': 0, 'bountyLevel'...","{'assists': 5, 'baronKills': 0, 'bountyLevel':...","{'assists': 6, 'baronKills': 0, 'bountyLevel':...","{'assists': 14, 'baronKills': 0, 'bountyLevel'...","{'assists': 6, 'baronKills': 1, 'bountyLevel':...","{'assists': 5, 'baronKills': 0, 'bountyLevel':..."

In [94]:
df_teams = pd.json_normalize(teams)
df_teams.columns = ["100", "200"]   # teamId
display(df_teams.head(5))

,100,200
0,"{'bans': [], 'teamId': 100, 'win': True, 'obje...","{'bans': [], 'teamId': 200, 'win': False, 'obj..."
1,"{'bans': [], 'teamId': 100, 'win': True, 'obje...","{'bans': [], 'teamId': 200, 'win': False, 'obj..."
2,"{'bans': [], 'teamId': 100, 'win': False, 'obj...","{'bans': [], 'teamId': 200, 'win': True, 'obje..."
3,"{'bans': [], 'teamId': 100, 'win': False, 'obj...","{'bans': [], 'teamId': 200, 'win': True, 'obje..."
4,"{'bans': [], 'teamId': 100, 'win': False, 'obj...","{'bans': [], 'teamId': 200, 'win': True, 'obje..."

In [95]:
df_teams["100"][0]["win"]

True

In [97]:
df_info_1.to_csv("data/{}/info.csv".format(summoner_name))
df_participants.to_csv("data/{}/participants.csv".format(summoner_name))
df_teams.to_csv("data/{}/teams.csv".format(summoner_name))

# 인베이드 관련 데이터

In [98]:
match_invade = 0

## 이벤트 분석

In [100]:
is_invade = [False]*match_length
invade_timestamp = [0]*match_length           
invade_kill_blue = [0]*match_length           # invade시 발생한 블루팀의 킬 수
invade_kill_red = [0]*match_length            # invade시 발생한 레드팀의 킬 수
invade_win_team = [0]*match_length            # invade가 발생한 게임에서 이긴 팀의 teamId
total_gold_blue_3_min = [0]*match_length
total_gold_red_3_min = [0]*match_length
gold_gap = [0]*match_length

for match_index in range(match_length):
    match_time_length = len(timeline.iloc[match_index].info['frames'])
    
    events = [timeline.iloc[match_index].info["frames"][t]["events"] for t in range(match_time_length)]
    participants_info = [timeline.iloc[match_index].info["frames"][t]["participantFrames"] for t in range(match_time_length)]

    # 1~2분대의 kill event
    if len(events) < 3: 
        print("다시하기 발생!")
        continue    # 게임이 3분 이내로 끝났을 경우를 제외 
    for t in range(1,3):  # 1 ~ 2 분 사이
        for e in events[t]:    
            if e["type"] == "CHAMPION_KILL":
                if is_invade[match_index] == False: 
                    is_invade[match_index] = True
                    match_invade += 1
                if invade_timestamp[match_index] == 0: invade_timestamp[match_index] = e['timestamp']
                if e['killerId'] <= 5:
                    invade_kill_blue[match_index] += 1
                elif e['killerId'] > 5:
                    invade_kill_red[match_index] += 1

    if is_invade[match_index]:
        for i in range(1,6):
            total_gold_blue_3_min[match_index] += participants_info[3][str(i)]['totalGold']
        for i in range(6,11):
            total_gold_red_3_min[match_index] += participants_info[3][str(i)]['totalGold']
        gold_gap[match_index] = total_gold_blue_3_min[match_index] - total_gold_red_3_min[match_index]
        
        # use df_teams
        invade_win_team[match_index] = 100 if df_teams["100"][match_index]["win"] else 200
        
        print("--------------------------------------------------")
        print("invade detected: %d" % match_index)
        print("timestamp(minutes): %.2f" % (invade_timestamp[match_index]/60000))
        print("< kills >\n  blue : %d , red : %d"% (invade_kill_blue[match_index], invade_kill_red[match_index]))
        print("< total_gold_3_min >\n  blue: %d , red: %d"% (total_gold_blue_3_min[match_index], total_gold_red_3_min[match_index]))
        print("< gold_gap >\n  %d"% gold_gap[match_index])
        print("< win >\n  %s"% ("blue" if invade_win_team[match_index] == 100 else "red"))

--------------------------------------------------
invade detected: 1
timestamp(minutes): 0.96
< kills >
  blue : 2 , red : 5
< total_gold_3_min >
  blue: 13391 , red: 13107
< gold_gap >
  284
< win >
  blue
--------------------------------------------------
invade detected: 2
timestamp(minutes): 0.70
< kills >
  blue : 7 , red : 7
< total_gold_3_min >
  blue: 14091 , red: 14424
< gold_gap >
  -333
< win >
  red
--------------------------------------------------
invade detected: 3
timestamp(minutes): 0.60
< kills >
  blue : 5 , red : 3
< total_gold_3_min >
  blue: 13675 , red: 13994
< gold_gap >
  -319
< win >
  red
--------------------------------------------------
invade detected: 5
timestamp(minutes): 1.59
< kills >
  blue : 2 , red : 4
< total_gold_3_min >
  blue: 13256 , red: 12843
< gold_gap >
  413
< win >
  red
--------------------------------------------------
invade detected: 6
timestamp(minutes): 0.59
< kills >
  blue : 4 , red : 4
< total_gold_3_min >
  blue: 13795 , red: 13327
< gold_gap >
  468
< win >
  blue
--------------------------------------------------
invade detected: 7
timestamp(minutes): 1.31
< kills >
  blue : 2 , red : 4
< total_gold_3_min >
  blue: 12916 , red: 13352
< gold_gap >
  -436
< win >
  blue
--------------------------------------------------
invade detected: 8
timestamp(minutes): 1.38
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 12063 , red: 12303
< gold_gap >
  -240
< win >
  blue
--------------------------------------------------
invade detected: 9
timestamp(minutes): 1.85
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 11944 , red: 13041
< gold_gap >
  -1097
< win >
  blue
--------------------------------------------------
invade detected: 21
timestamp(minutes): 1.81
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4680 , red: 4235
< gold_gap >
  445
< win >
  red
--------------------------------------------------
invade detected: 25
timestamp(minutes): 0.52
< kills >
  blue : 2 , red : 2
< total_gold_3_min >
  blue: 12896 , red: 13195
< gold_gap >
  -299
< win >
  red
--------------------------------------------------
invade detected: 26
timestamp(minutes): 0.59
< kills >
  blue : 3 , red : 5
< total_gold_3_min >
  blue: 12649 , red: 13224
< gold_gap >
  -575
< win >
  red
--------------------------------------------------
invade detected: 27
timestamp(minutes): 1.24
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 4680 , red: 5155
< gold_gap >
  -475
< win >
  red
--------------------------------------------------
invade detected: 28
timestamp(minutes): 1.34
< kills >
  blue : 2 , red : 3
< total_gold_3_min >
  blue: 12271 , red: 12798
< gold_gap >
  -527
< win >
  red
--------------------------------------------------
invade detected: 30
timestamp(minutes): 0.99
< kills >
  blue : 4 , red : 4
< total_gold_3_min >
  blue: 13345 , red: 13367
< gold_gap >
  -22
< win >
  red
--------------------------------------------------
invade detected: 31
timestamp(minutes): 0.84
< kills >
  blue : 5 , red : 5
< total_gold_3_min >
  blue: 13482 , red: 12844
< gold_gap >
  638
< win >
  red
--------------------------------------------------
invade detected: 32
timestamp(minutes): 1.56
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 12884 , red: 12162
< gold_gap >
  722
< win >
  red
--------------------------------------------------
invade detected: 33
timestamp(minutes): 0.66
< kills >
  blue : 4 , red : 4
< total_gold_3_min >
  blue: 12429 , red: 12651
< gold_gap >
  -222
< win >
  red
--------------------------------------------------
invade detected: 34
timestamp(minutes): 0.93
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 12300 , red: 11702
< gold_gap >
  598
< win >
  blue
--------------------------------------------------
invade detected: 35
timestamp(minutes): 1.34
< kills >
  blue : 2 , red : 2
< total_gold_3_min >
  blue: 13133 , red: 12609
< gold_gap >
  524
< win >
  red
--------------------------------------------------
invade detected: 36
timestamp(minutes): 1.33
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 12272 , red: 12840
< gold_gap >
  -568
< win >
  red
--------------------------------------------------
invade detected: 38
timestamp(minutes): 0.75
< kills >
  blue : 3 , red : 4
< total_gold_3_min >
  blue: 13472 , red: 14507
< gold_gap >
  -1035
< win >
  blue
--------------------------------------------------
invade detected: 40
timestamp(minutes): 1.10
< kills >
  blue : 3 , red : 3
< total_gold_3_min >
  blue: 12663 , red: 13595
< gold_gap >
  -932
< win >
  red
--------------------------------------------------
invade detected: 45
timestamp(minutes): 1.30
< kills >
  blue : 1 , red : 5
< total_gold_3_min >
  blue: 12930 , red: 12927
< gold_gap >
  3
< win >
  red
--------------------------------------------------
invade detected: 48
timestamp(minutes): 0.65
< kills >
  blue : 4 , red : 7
< total_gold_3_min >
  blue: 13746 , red: 14295
< gold_gap >
  -549
< win >
  blue
--------------------------------------------------
invade detected: 49
timestamp(minutes): 0.74
< kills >
  blue : 2 , red : 6
< total_gold_3_min >
  blue: 13220 , red: 14353
< gold_gap >
  -1133
< win >
  red
--------------------------------------------------
invade detected: 50
timestamp(minutes): 1.53
< kills >
  blue : 3 , red : 3
< total_gold_3_min >
  blue: 12539 , red: 12641
< gold_gap >
  -102
< win >
  red
--------------------------------------------------
invade detected: 51
timestamp(minutes): 1.01
< kills >
  blue : 4 , red : 5
< total_gold_3_min >
  blue: 13075 , red: 14422
< gold_gap >
  -1347
< win >
  red
--------------------------------------------------
invade detected: 53
timestamp(minutes): 0.74
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 11797 , red: 13497
< gold_gap >
  -1700
< win >
  red
--------------------------------------------------
invade detected: 55
timestamp(minutes): 0.57
< kills >
  blue : 2 , red : 4
< total_gold_3_min >
  blue: 12513 , red: 14358
< gold_gap >
  -1845
< win >
  red
--------------------------------------------------
invade detected: 56
timestamp(minutes): 0.64
< kills >
  blue : 4 , red : 4
< total_gold_3_min >
  blue: 13196 , red: 13833
< gold_gap >
  -637
< win >
  blue
--------------------------------------------------
invade detected: 57
timestamp(minutes): 1.27
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4549 , red: 4708
< gold_gap >
  -159
< win >
  red
--------------------------------------------------
invade detected: 59
timestamp(minutes): 0.71
< kills >
  blue : 5 , red : 8
< total_gold_3_min >
  blue: 14330 , red: 14413
< gold_gap >
  -83
< win >
  red
--------------------------------------------------
invade detected: 62
timestamp(minutes): 1.04
< kills >
  blue : 4 , red : 3
< total_gold_3_min >
  blue: 13746 , red: 13085
< gold_gap >
  661
< win >
  red
--------------------------------------------------
invade detected: 63
timestamp(minutes): 1.35
< kills >
  blue : 2 , red : 5
< total_gold_3_min >
  blue: 12748 , red: 13452
< gold_gap >
  -704
< win >
  red
--------------------------------------------------
invade detected: 64
timestamp(minutes): 0.86
< kills >
  blue : 3 , red : 2
< total_gold_3_min >
  blue: 13115 , red: 12976
< gold_gap >
  139
< win >
  blue
--------------------------------------------------
invade detected: 66
timestamp(minutes): 0.84
< kills >
  blue : 1 , red : 3
< total_gold_3_min >
  blue: 13145 , red: 13351
< gold_gap >
  -206
< win >
  blue
--------------------------------------------------
invade detected: 67
timestamp(minutes): 0.83
< kills >
  blue : 4 , red : 3
< total_gold_3_min >
  blue: 13023 , red: 12755
< gold_gap >
  268
< win >
  blue
--------------------------------------------------
invade detected: 68
timestamp(minutes): 1.28
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 13389 , red: 13367
< gold_gap >
  22
< win >
  blue
--------------------------------------------------
invade detected: 69
timestamp(minutes): 0.95
< kills >
  blue : 7 , red : 5
< total_gold_3_min >
  blue: 13035 , red: 14191
< gold_gap >
  -1156
< win >
  red
--------------------------------------------------
invade detected: 70
timestamp(minutes): 0.98
< kills >
  blue : 6 , red : 4
< total_gold_3_min >
  blue: 13766 , red: 13536
< gold_gap >
  230
< win >
  blue
--------------------------------------------------
invade detected: 71
timestamp(minutes): 0.81
< kills >
  blue : 3 , red : 4
< total_gold_3_min >
  blue: 12947 , red: 13392
< gold_gap >
  -445
< win >
  blue
--------------------------------------------------
invade detected: 72
timestamp(minutes): 0.55
< kills >
  blue : 4 , red : 2
< total_gold_3_min >
  blue: 13100 , red: 12341
< gold_gap >
  759
< win >
  blue
--------------------------------------------------
invade detected: 73
timestamp(minutes): 0.79
< kills >
  blue : 3 , red : 4
< total_gold_3_min >
  blue: 13122 , red: 12761
< gold_gap >
  361
< win >
  blue
--------------------------------------------------
invade detected: 74
timestamp(minutes): 0.95
< kills >
  blue : 3 , red : 4
< total_gold_3_min >
  blue: 12421 , red: 13294
< gold_gap >
  -873
< win >
  red
--------------------------------------------------
invade detected: 75
timestamp(minutes): 1.20
< kills >
  blue : 1 , red : 4
< total_gold_3_min >
  blue: 11756 , red: 13049
< gold_gap >
  -1293
< win >
  blue
--------------------------------------------------
invade detected: 76
timestamp(minutes): 1.49
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 7160 , red: 8140
< gold_gap >
  -980
< win >
  red
--------------------------------------------------
invade detected: 77
timestamp(minutes): 1.10
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 6902 , red: 9924
< gold_gap >
  -3022
< win >
  red
--------------------------------------------------
invade detected: 78
timestamp(minutes): 1.59
< kills >
  blue : 1 , red : 5
< total_gold_3_min >
  blue: 13261 , red: 12775
< gold_gap >
  486
< win >
  red
--------------------------------------------------
invade detected: 79
timestamp(minutes): 0.71
< kills >
  blue : 5 , red : 2
< total_gold_3_min >
  blue: 14003 , red: 12218
< gold_gap >
  1785
< win >
  blue
--------------------------------------------------
invade detected: 80
timestamp(minutes): 0.78
< kills >
  blue : 5 , red : 3
< total_gold_3_min >
  blue: 13839 , red: 12674
< gold_gap >
  1165
< win >
  red
--------------------------------------------------
invade detected: 81
timestamp(minutes): 0.54
< kills >
  blue : 2 , red : 2
< total_gold_3_min >
  blue: 12558 , red: 13215
< gold_gap >
  -657
< win >
  red
--------------------------------------------------
invade detected: 82
timestamp(minutes): 0.90
< kills >
  blue : 4 , red : 1
< total_gold_3_min >
  blue: 13410 , red: 12451
< gold_gap >
  959
< win >
  red
--------------------------------------------------
invade detected: 83
timestamp(minutes): 1.86
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 11809 , red: 12669
< gold_gap >
  -860
< win >
  red
--------------------------------------------------
invade detected: 85
timestamp(minutes): 1.51
< kills >
  blue : 5 , red : 2
< total_gold_3_min >
  blue: 12909 , red: 12307
< gold_gap >
  602
< win >
  red
--------------------------------------------------
invade detected: 86
timestamp(minutes): 1.38
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 13372 , red: 12874
< gold_gap >
  498
< win >
  blue
--------------------------------------------------
invade detected: 87
timestamp(minutes): 1.54
< kills >
  blue : 3 , red : 2
< total_gold_3_min >
  blue: 12723 , red: 13034
< gold_gap >
  -311
< win >
  red
--------------------------------------------------
invade detected: 88
timestamp(minutes): 0.88
< kills >
  blue : 4 , red : 5
< total_gold_3_min >
  blue: 12925 , red: 12838
< gold_gap >
  87
< win >
  blue
--------------------------------------------------
invade detected: 89
timestamp(minutes): 0.56
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 12391 , red: 13065
< gold_gap >
  -674
< win >
  blue
--------------------------------------------------
invade detected: 90
timestamp(minutes): 1.06
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4851 , red: 4310
< gold_gap >
  541
< win >
  red
--------------------------------------------------
invade detected: 91
timestamp(minutes): 1.67
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 11584 , red: 12591
< gold_gap >
  -1007
< win >
  blue
--------------------------------------------------
invade detected: 92
timestamp(minutes): 1.59
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 7682 , red: 7408
< gold_gap >
  274
< win >
  red
--------------------------------------------------
invade detected: 93
timestamp(minutes): 1.63
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 7846 , red: 8965
< gold_gap >
  -1119
< win >
  red
--------------------------------------------------
invade detected: 95
timestamp(minutes): 1.41
< kills >
  blue : 2 , red : 3
< total_gold_3_min >
  blue: 12433 , red: 12816
< gold_gap >
  -383
< win >
  red
--------------------------------------------------
invade detected: 96
timestamp(minutes): 0.92
< kills >
  blue : 2 , red : 3
< total_gold_3_min >
  blue: 12610 , red: 12949
< gold_gap >
  -339
< win >
  red
--------------------------------------------------
invade detected: 97
timestamp(minutes): 1.37
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 12082 , red: 12325
< gold_gap >
  -243
< win >
  blue
--------------------------------------------------
invade detected: 100
timestamp(minutes): 0.74
< kills >
  blue : 4 , red : 3
< total_gold_3_min >
  blue: 12934 , red: 12650
< gold_gap >
  284
< win >
  blue
--------------------------------------------------
invade detected: 101
timestamp(minutes): 1.93
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 11652 , red: 12332
< gold_gap >
  -680
< win >
  blue
--------------------------------------------------
invade detected: 102
timestamp(minutes): 1.31
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 12506 , red: 13439
< gold_gap >
  -933
< win >
  blue
--------------------------------------------------
invade detected: 103
timestamp(minutes): 0.69
< kills >
  blue : 2 , red : 2
< total_gold_3_min >
  blue: 12991 , red: 12752
< gold_gap >
  239
< win >
  blue
--------------------------------------------------
invade detected: 104
timestamp(minutes): 0.87
< kills >
  blue : 3 , red : 3
< total_gold_3_min >
  blue: 12912 , red: 12401
< gold_gap >
  511
< win >
  red
--------------------------------------------------
invade detected: 105
timestamp(minutes): 1.15
< kills >
  blue : 3 , red : 2
< total_gold_3_min >
  blue: 12829 , red: 12588
< gold_gap >
  241
< win >
  blue
--------------------------------------------------
invade detected: 106
timestamp(minutes): 1.37
< kills >
  blue : 5 , red : 3
< total_gold_3_min >
  blue: 12929 , red: 12746
< gold_gap >
  183
< win >
  red
--------------------------------------------------
invade detected: 107
timestamp(minutes): 0.91
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 12294 , red: 12230
< gold_gap >
  64
< win >
  red
--------------------------------------------------
invade detected: 110
timestamp(minutes): 0.92
< kills >
  blue : 3 , red : 3
< total_gold_3_min >
  blue: 13320 , red: 13352
< gold_gap >
  -32
< win >
  red
--------------------------------------------------
invade detected: 111
timestamp(minutes): 1.26
< kills >
  blue : 2 , red : 3
< total_gold_3_min >
  blue: 12098 , red: 13048
< gold_gap >
  -950
< win >
  blue
--------------------------------------------------
invade detected: 112
timestamp(minutes): 0.95
< kills >
  blue : 4 , red : 3
< total_gold_3_min >
  blue: 13708 , red: 14076
< gold_gap >
  -368
< win >
  red
--------------------------------------------------
invade detected: 113
timestamp(minutes): 1.40
< kills >
  blue : 3 , red : 1
< total_gold_3_min >
  blue: 12384 , red: 13398
< gold_gap >
  -1014
< win >
  red

In [101]:
df_invade = pd.DataFrame([
    is_invade,
    invade_timestamp,
    invade_kill_blue,
    invade_kill_red,
    invade_win_team,
    total_gold_blue_3_min,
    total_gold_red_3_min,
    gold_gap,
    df_info_1["gameMode"]]).transpose()

df_invade.columns = [
    "is_invade",
    "invade_timestamp",
    "invade_kill_blue",
    "invade_kill_red",
    "invade_win_team",
    "total_gold_blue_3_min",
    "total_gold_red_3_min",
    "gold_gap",
    "gameMode"]

display(df_invade[(df_invade.is_invade==True) & (df_invade.invade_kill_blue > df_invade.invade_kill_red)])

# 인베가 일어났고, 블루가 레드보다 킬을 많이 딴 경기에서 블루가 이길 확률 
print("%.2f%%"%(
    len(df_invade[
        (df_invade.is_invade==True) 
        & (df_invade.invade_kill_blue > df_invade.invade_kill_red) 
        & (df_invade.invade_win_team == 100)]) 
    / len(df_invade[
        (df_invade.is_invade==True) 
        & (df_invade.invade_kill_blue > df_invade.invade_kill_red)])
    * 100)
)

,is_invade,invade_timestamp,invade_kill_blue,invade_kill_red,invade_win_team,total_gold_blue_3_min,total_gold_red_3_min,gold_gap,gameMode
3,True,36162,5,3,200,13675,13994,-319,ARAM
21,True,108428,1,0,200,4680,4235,445,CLASSIC
27,True,74669,2,0,200,4680,5155,-475,CLASSIC
34,True,55950,1,0,100,12300,11702,598,ARAM
62,True,62434,4,3,200,13746,13085,661,ARAM
64,True,51401,3,2,100,13115,12976,139,ARAM
67,True,49840,4,3,100,13023,12755,268,ARAM
68,True,76632,2,1,100,13389,13367,22,ARAM
69,True,57036,7,5,200,13035,14191,-1156,ARAM
70,True,58547,6,4,100,13766,13536,230,ARAM
72,True,33201,4,2,100,13100,12341,759,ARAM
79,True,42775,5,2,100,14003,12218,1785,ARAM
80,True,46758,5,3,200,13839,12674,1165,ARAM
82,True,54112,4,1,200,13410,12451,959,ARAM
83,True,111362,1,0,200,11809,12669,-860,ARAM
85,True,90893,5,2,200,12909,12307,602,ARAM
87,True,92538,3,2,200,12723,13034,-311,ARAM
90,True,63715,1,0,200,4851,4310,541,CLASSIC
92,True,95278,1,0,200,7682,7408,274,NEXUSBLITZ
93,True,98082,2,1,200,7846,8965,-1119,NEXUSBLITZ
100,True,44245,4,3,100,12934,12650,284,ARAM
105,True,68824,3,2,100,12829,12588,241,ARAM
106,True,82185,5,3,200,12929,12746,183,ARAM
112,True,56886,4,3,200,13708,14076,-368,ARAM
113,True,84127,3,1,200,12384,13398,-1014,ARAM

36.00%

In [ ]:
match_invade

73

In [ ]:
df_invade

,is_invade,invade_timestamp,invade_kill_blue,invade_kill_red,invade_win_team,total_gold_blue_3_min,total_gold_red_3_min,gold_gap,gameMode
0,True,63063,2,2,100,7461,6960,501,URF
1,True,96234,0,1,100,7579,6743,836,URF
2,True,25730,3,7,100,8866,9835,-969,URF
3,True,44363,0,1,100,7998,7759,239,URF
4,True,98734,0,1,200,7114,7840,-726,URF
...,...,...,...,...,...,...,...,...,...
175,False,0,0,0,0,0,0,0,CLASSIC
176,False,0,0,0,0,0,0,0,CLASSIC
177,False,0,0,0,0,0,0,0,CLASSIC
178,False,0,0,0,0,0,0,0,CLASSIC
179,True,98603,2,0,200,4548,4066,482,CLASSIC