In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [48]:
summoner_name = "야식은치킨이지"

match = pd.read_json("data/data_summoner_match_data_{name}.json".format(name=summoner_name))
timeline = pd.read_json("data/data_summoner_match_timeline_data_{name}.json".format(name=summoner_name))

# 경기 관련 데이터

In [49]:
match_length = len(match["info"])

In [50]:
info = match["info"]

participants = []
teams = []
for i in range(match_length):
    participants.append(info[i]["participants"])
    teams.append(info[i]["teams"])
    del(info[i]["participants"])
    del(info[i]["teams"])

In [61]:
df_info = pd.json_normalize(info)
df_info_1 = df_info[["gameDuration", "gameMode", "gameType", "gameVersion", "mapId"]]
display(df_info_1.head(10))

   gameDuration gameMode      gameType     gameVersion  mapId
0        950957      URF  MATCHED_GAME  11.19.398.9466     11
1        904515      URF  MATCHED_GAME  11.19.398.9466     11
2       1121760      URF  MATCHED_GAME  11.19.398.9466     11
3       1370877      URF  MATCHED_GAME  11.19.398.9466     11
4       1287954      URF  MATCHED_GAME  11.19.398.9466     11
5        751931      URF  MATCHED_GAME  11.19.398.9466     11
6       1335078      URF  MATCHED_GAME  11.19.398.9466     11
7       1150752      URF  MATCHED_GAME  11.19.398.9466     11
8        961086     ARAM  MATCHED_GAME  11.15.389.2308     12
9       1943798  CLASSIC  MATCHED_GAME  11.15.389.2308     11

In [64]:
df_participants = pd.json_normalize(participants)
display(df_participants.head(1))

,0,1,2,3,4,5,6,7,8,9
0,"{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 13, 'baronKills': 0, 'bountyLevel'...","{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 10, 'baronKills': 0, 'bountyLevel'...","{'assists': 8, 'baronKills': 0, 'bountyLevel':...","{'assists': 1, 'baronKills': 0, 'bountyLevel':...","{'assists': 8, 'baronKills': 0, 'bountyLevel':...","{'assists': 2, 'baronKills': 0, 'bountyLevel':...","{'assists': 6, 'baronKills': 0, 'bountyLevel':...","{'assists': 5, 'baronKills': 0, 'bountyLevel':..."

In [67]:
df_teams = pd.json_normalize(teams)
df_teams.columns = ["100", "200"]   # teamId
display(df_teams.head(5))

,100,200
0,"{'bans': [{'championId': 105, 'pickTurn': 1}, ...","{'bans': [{'championId': 7, 'pickTurn': 6}, {'..."
1,"{'bans': [{'championId': 711, 'pickTurn': 1}, ...","{'bans': [{'championId': 7, 'pickTurn': 6}, {'..."
2,"{'bans': [{'championId': 238, 'pickTurn': 1}, ...","{'bans': [{'championId': 81, 'pickTurn': 6}, {..."
3,"{'bans': [{'championId': 238, 'pickTurn': 1}, ...","{'bans': [{'championId': 28, 'pickTurn': 6}, {..."
4,"{'bans': [{'championId': 7, 'pickTurn': 1}, {'...","{'bans': [{'championId': 126, 'pickTurn': 6}, ..."

In [76]:
df_teams["100"][0]["win"]

True

In [69]:
df_info_1.to_csv("data/{}/info.csv".format(summoner_name))
df_participants.to_csv("data/{}/participants.csv".format(summoner_name))
df_teams.to_csv("data/{}/teams.csv".format(summoner_name))

# 인베이드 관련 데이터

In [85]:
match_invade = 0

## 이벤트 분석

In [86]:
is_invade = [False]*match_length
invade_timestamp = [0]*match_length           
invade_kill_blue = [0]*match_length           # invade시 발생한 블루팀의 킬 수
invade_kill_red = [0]*match_length            # invade시 발생한 레드팀의 킬 수
invade_win_team = [0]*match_length            # invade가 발생한 게임에서 이긴 팀의 teamId
total_gold_blue_3_min = [0]*match_length
total_gold_red_3_min = [0]*match_length
gold_gap = [0]*match_length

for match_index in range(match_length):
    match_time_length = len(timeline.iloc[match_index].info['frames'])
    
    events = [timeline.iloc[match_index].info["frames"][t]["events"] for t in range(match_time_length)]
    participants_info = [timeline.iloc[match_index].info["frames"][t]["participantFrames"] for t in range(match_time_length)]

    # 1~2분대의 kill event
    for t in range(1,3):  # 1 ~ 2 분 사이
        for e in events[t]:    
            if e["type"] == "CHAMPION_KILL":
                if is_invade[match_index] == False: 
                    is_invade[match_index] = True
                    match_invade += 1
                if invade_timestamp[match_index] == 0: invade_timestamp[match_index] = e['timestamp']
                if e['killerId'] <= 5:
                    invade_kill_blue[match_index] += 1
                elif e['killerId'] > 5:
                    invade_kill_red[match_index] += 1

    if is_invade[match_index]:
        for i in range(1,6):
            total_gold_blue_3_min[match_index] += participants_info[3][str(i)]['totalGold']
        for i in range(6,11):
            total_gold_red_3_min[match_index] += participants_info[3][str(i)]['totalGold']
        gold_gap[match_index] = total_gold_blue_3_min[match_index] - total_gold_red_3_min[match_index]
        
        # use df_teams
        invade_win_team[match_index] = 100 if df_teams["100"][match_index]["win"] else 200
        
        print("--------------------------------------------------")
        print("invade detected: %d" % match_index)
        print("timestamp(minutes): %.2f" % (invade_timestamp[match_index]/60000))
        print("< kills >\n  blue : %d , red : %d"% (invade_kill_blue[match_index], invade_kill_red[match_index]))
        print("< total_gold_3_min >\n  blue: %d , red: %d"% (total_gold_blue_3_min[match_index], total_gold_red_3_min[match_index]))
        print("< gold_gap >\n  %d"% gold_gap[match_index])
        print("< win >\n  %s"% ("blue" if invade_win_team[match_index] == 100 else "red"))

--------------------------------------------------
invade detected: 0
timestamp(minutes): 1.05
< kills >
  blue : 2 , red : 2
< total_gold_3_min >
  blue: 7461 , red: 6960
< gold_gap >
  501
< win >
  blue
--------------------------------------------------
invade detected: 1
timestamp(minutes): 1.60
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 7579 , red: 6743
< gold_gap >
  836
< win >
  blue
--------------------------------------------------
invade detected: 2
timestamp(minutes): 0.43
< kills >
  blue : 3 , red : 7
< total_gold_3_min >
  blue: 8866 , red: 9835
< gold_gap >
  -969
< win >
  blue
--------------------------------------------------
invade detected: 3
timestamp(minutes): 0.74
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 7998 , red: 7759
< gold_gap >
  239
< win >
  blue
--------------------------------------------------
invade detected: 4
timestamp(minutes): 1.65
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 7114 , red: 7840
< gold_gap >
  -726
< win >
  red
--------------------------------------------------
invade detected: 5
timestamp(minutes): 1.30
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 7440 , red: 7078
< gold_gap >
  362
< win >
  blue
--------------------------------------------------
invade detected: 6
timestamp(minutes): 0.76
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 6277 , red: 7551
< gold_gap >
  -1274
< win >
  red
--------------------------------------------------
invade detected: 7
timestamp(minutes): 0.49
< kills >
  blue : 3 , red : 6
< total_gold_3_min >
  blue: 8498 , red: 9836
< gold_gap >
  -1338
< win >
  blue
--------------------------------------------------
invade detected: 8
timestamp(minutes): 0.74
< kills >
  blue : 4 , red : 1
< total_gold_3_min >
  blue: 13290 , red: 11933
< gold_gap >
  1357
< win >
  blue
--------------------------------------------------
invade detected: 10
timestamp(minutes): 0.82
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4258 , red: 4764
< gold_gap >
  -506
< win >
  red
--------------------------------------------------
invade detected: 15
timestamp(minutes): 0.77
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4571 , red: 4750
< gold_gap >
  -179
< win >
  blue
--------------------------------------------------
invade detected: 16
timestamp(minutes): 0.99
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 7404 , red: 8884
< gold_gap >
  -1480
< win >
  red
--------------------------------------------------
invade detected: 18
timestamp(minutes): 1.43
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 12770 , red: 11884
< gold_gap >
  886
< win >
  blue
--------------------------------------------------
invade detected: 19
timestamp(minutes): 1.82
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 12470 , red: 11800
< gold_gap >
  670
< win >
  blue
--------------------------------------------------
invade detected: 20
timestamp(minutes): 1.23
< kills >
  blue : 4 , red : 1
< total_gold_3_min >
  blue: 13207 , red: 11693
< gold_gap >
  1514
< win >
  blue
--------------------------------------------------
invade detected: 21
timestamp(minutes): 1.02
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4853 , red: 5222
< gold_gap >
  -369
< win >
  blue
--------------------------------------------------
invade detected: 22
timestamp(minutes): 1.09
< kills >
  blue : 5 , red : 5
< total_gold_3_min >
  blue: 13345 , red: 13369
< gold_gap >
  -24
< win >
  blue
--------------------------------------------------
invade detected: 23
timestamp(minutes): 1.23
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 12478 , red: 13432
< gold_gap >
  -954
< win >
  blue
--------------------------------------------------
invade detected: 25
timestamp(minutes): 1.12
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 9007 , red: 7358
< gold_gap >
  1649
< win >
  red
--------------------------------------------------
invade detected: 27
timestamp(minutes): 1.02
< kills >
  blue : 3 , red : 4
< total_gold_3_min >
  blue: 13260 , red: 13102
< gold_gap >
  158
< win >
  blue
--------------------------------------------------
invade detected: 28
timestamp(minutes): 1.84
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 13370 , red: 13079
< gold_gap >
  291
< win >
  blue
--------------------------------------------------
invade detected: 31
timestamp(minutes): 1.15
< kills >
  blue : 1 , red : 3
< total_gold_3_min >
  blue: 7643 , red: 9687
< gold_gap >
  -2044
< win >
  red
--------------------------------------------------
invade detected: 33
timestamp(minutes): 1.43
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 8381 , red: 7817
< gold_gap >
  564
< win >
  red
--------------------------------------------------
invade detected: 38
timestamp(minutes): 1.98
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 8404 , red: 7791
< gold_gap >
  613
< win >
  red
--------------------------------------------------
invade detected: 39
timestamp(minutes): 1.95
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 8681 , red: 8270
< gold_gap >
  411
< win >
  blue
--------------------------------------------------
invade detected: 40
timestamp(minutes): 0.97
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 10104 , red: 6965
< gold_gap >
  3139
< win >
  blue
--------------------------------------------------
invade detected: 45
timestamp(minutes): 1.54
< kills >
  blue : 2 , red : 3
< total_gold_3_min >
  blue: 12192 , red: 12778
< gold_gap >
  -586
< win >
  blue
--------------------------------------------------
invade detected: 47
timestamp(minutes): 0.98
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 5037 , red: 4665
< gold_gap >
  372
< win >
  red
--------------------------------------------------
invade detected: 48
timestamp(minutes): 0.68
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 5242 , red: 4944
< gold_gap >
  298
< win >
  red
--------------------------------------------------
invade detected: 49
timestamp(minutes): 0.88
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4746 , red: 5016
< gold_gap >
  -270
< win >
  red
--------------------------------------------------
invade detected: 50
timestamp(minutes): 1.35
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 13726 , red: 12922
< gold_gap >
  804
< win >
  blue
--------------------------------------------------
invade detected: 52
timestamp(minutes): 0.64
< kills >
  blue : 3 , red : 1
< total_gold_3_min >
  blue: 12732 , red: 12680
< gold_gap >
  52
< win >
  blue
--------------------------------------------------
invade detected: 55
timestamp(minutes): 1.89
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4765 , red: 4102
< gold_gap >
  663
< win >
  blue
--------------------------------------------------
invade detected: 58
timestamp(minutes): 1.09
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4230 , red: 4987
< gold_gap >
  -757
< win >
  red
--------------------------------------------------
invade detected: 61
timestamp(minutes): 1.89
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 5256 , red: 4659
< gold_gap >
  597
< win >
  red
--------------------------------------------------
invade detected: 64
timestamp(minutes): 1.07
< kills >
  blue : 0 , red : 3
< total_gold_3_min >
  blue: 4153 , red: 5657
< gold_gap >
  -1504
< win >
  blue
--------------------------------------------------
invade detected: 66
timestamp(minutes): 0.56
< kills >
  blue : 7 , red : 6
< total_gold_3_min >
  blue: 14107 , red: 13468
< gold_gap >
  639
< win >
  blue
--------------------------------------------------
invade detected: 67
timestamp(minutes): 1.71
< kills >
  blue : 2 , red : 3
< total_gold_3_min >
  blue: 12481 , red: 12877
< gold_gap >
  -396
< win >
  red
--------------------------------------------------
invade detected: 68
timestamp(minutes): 1.72
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 4125 , red: 4927
< gold_gap >
  -802
< win >
  red
--------------------------------------------------
invade detected: 76
timestamp(minutes): 0.55
< kills >
  blue : 2 , red : 4
< total_gold_3_min >
  blue: 13695 , red: 13887
< gold_gap >
  -192
< win >
  blue
--------------------------------------------------
invade detected: 78
timestamp(minutes): 0.64
< kills >
  blue : 4 , red : 2
< total_gold_3_min >
  blue: 12970 , red: 11938
< gold_gap >
  1032
< win >
  blue
--------------------------------------------------
invade detected: 79
timestamp(minutes): 1.16
< kills >
  blue : 4 , red : 4
< total_gold_3_min >
  blue: 12851 , red: 13242
< gold_gap >
  -391
< win >
  blue
--------------------------------------------------
invade detected: 80
timestamp(minutes): 0.68
< kills >
  blue : 1 , red : 4
< total_gold_3_min >
  blue: 13652 , red: 12888
< gold_gap >
  764
< win >
  blue
--------------------------------------------------
invade detected: 85
timestamp(minutes): 1.96
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4715 , red: 4882
< gold_gap >
  -167
< win >
  red
--------------------------------------------------
invade detected: 88
timestamp(minutes): 1.18
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 12683 , red: 12102
< gold_gap >
  581
< win >
  blue
--------------------------------------------------
invade detected: 89
timestamp(minutes): 0.86
< kills >
  blue : 4 , red : 1
< total_gold_3_min >
  blue: 13231 , red: 13306
< gold_gap >
  -75
< win >
  blue
--------------------------------------------------
invade detected: 92
timestamp(minutes): 0.82
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4501 , red: 4911
< gold_gap >
  -410
< win >
  red
--------------------------------------------------
invade detected: 93
timestamp(minutes): 1.45
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4574 , red: 4617
< gold_gap >
  -43
< win >
  red
--------------------------------------------------
invade detected: 94
timestamp(minutes): 1.11
< kills >
  blue : 0 , red : 3
< total_gold_3_min >
  blue: 12255 , red: 12658
< gold_gap >
  -403
< win >
  red
--------------------------------------------------
invade detected: 98
timestamp(minutes): 1.44
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 11685 , red: 12289
< gold_gap >
  -604
< win >
  blue
--------------------------------------------------
invade detected: 102
timestamp(minutes): 0.85
< kills >
  blue : 3 , red : 4
< total_gold_3_min >
  blue: 14217 , red: 12975
< gold_gap >
  1242
< win >
  red
--------------------------------------------------
invade detected: 106
timestamp(minutes): 0.68
< kills >
  blue : 3 , red : 3
< total_gold_3_min >
  blue: 5273 , red: 5600
< gold_gap >
  -327
< win >
  blue
--------------------------------------------------
invade detected: 107
timestamp(minutes): 1.58
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 12137 , red: 11778
< gold_gap >
  359
< win >
  red
--------------------------------------------------
invade detected: 110
timestamp(minutes): 1.71
< kills >
  blue : 4 , red : 1
< total_gold_3_min >
  blue: 13094 , red: 13059
< gold_gap >
  35
< win >
  red
--------------------------------------------------
invade detected: 111
timestamp(minutes): 1.42
< kills >
  blue : 1 , red : 4
< total_gold_3_min >
  blue: 12440 , red: 13058
< gold_gap >
  -618
< win >
  blue
--------------------------------------------------
invade detected: 112
timestamp(minutes): 1.09
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4837 , red: 4317
< gold_gap >
  520
< win >
  red
--------------------------------------------------
invade detected: 115
timestamp(minutes): 1.83
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 12392 , red: 11756
< gold_gap >
  636
< win >
  blue
--------------------------------------------------
invade detected: 118
timestamp(minutes): 0.81
< kills >
  blue : 2 , red : 2
< total_gold_3_min >
  blue: 12526 , red: 13309
< gold_gap >
  -783
< win >
  red
--------------------------------------------------
invade detected: 120
timestamp(minutes): 1.67
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 13663 , red: 12346
< gold_gap >
  1317
< win >
  red
--------------------------------------------------
invade detected: 121
timestamp(minutes): 1.36
< kills >
  blue : 1 , red : 3
< total_gold_3_min >
  blue: 4192 , red: 5536
< gold_gap >
  -1344
< win >
  red
--------------------------------------------------
invade detected: 122
timestamp(minutes): 1.10
< kills >
  blue : 3 , red : 3
< total_gold_3_min >
  blue: 5362 , red: 5417
< gold_gap >
  -55
< win >
  red
--------------------------------------------------
invade detected: 123
timestamp(minutes): 1.16
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 12947 , red: 12363
< gold_gap >
  584
< win >
  blue
--------------------------------------------------
invade detected: 124
timestamp(minutes): 1.06
< kills >
  blue : 1 , red : 3
< total_gold_3_min >
  blue: 12228 , red: 13114
< gold_gap >
  -886
< win >
  red
--------------------------------------------------
invade detected: 127
timestamp(minutes): 0.90
< kills >
  blue : 1 , red : 4
< total_gold_3_min >
  blue: 11925 , red: 12648
< gold_gap >
  -723
< win >
  red
--------------------------------------------------
invade detected: 128
timestamp(minutes): 0.70
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 12108 , red: 12269
< gold_gap >
  -161
< win >
  blue
--------------------------------------------------
invade detected: 130
timestamp(minutes): 1.24
< kills >
  blue : 3 , red : 3
< total_gold_3_min >
  blue: 13400 , red: 12520
< gold_gap >
  880
< win >
  blue
--------------------------------------------------
invade detected: 132
timestamp(minutes): 1.25
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 12651 , red: 13127
< gold_gap >
  -476
< win >
  blue
--------------------------------------------------
invade detected: 134
timestamp(minutes): 0.70
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4663 , red: 4987
< gold_gap >
  -324
< win >
  red
--------------------------------------------------
invade detected: 135
timestamp(minutes): 2.00
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4751 , red: 4419
< gold_gap >
  332
< win >
  red
--------------------------------------------------
invade detected: 140
timestamp(minutes): 1.94
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4706 , red: 4394
< gold_gap >
  312
< win >
  red
--------------------------------------------------
invade detected: 165
timestamp(minutes): 1.83
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4244 , red: 4729
< gold_gap >
  -485
< win >
  blue
--------------------------------------------------
invade detected: 172
timestamp(minutes): 1.32
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 8317 , red: 7373
< gold_gap >
  944
< win >
  blue
--------------------------------------------------
invade detected: 179
timestamp(minutes): 1.64
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 4548 , red: 4066
< gold_gap >
  482
< win >
  red

In [87]:
df_invade = pd.DataFrame([
    is_invade,
    invade_timestamp,
    invade_kill_blue,
    invade_kill_red,
    invade_win_team,
    total_gold_blue_3_min,
    total_gold_red_3_min,
    gold_gap,
    df_info_1["gameMode"]]).transpose()

df_invade.columns = [
    "is_invade",
    "invade_timestamp",
    "invade_kill_blue",
    "invade_kill_red",
    "invade_win_team",
    "total_gold_blue_3_min",
    "total_gold_red_3_min",
    "gold_gap",
    "gameMode"]

display(df_invade[(df_invade.is_invade==True) & (df_invade.invade_kill_blue > df_invade.invade_kill_red)])

# 인베가 일어났고, 블루가 레드보다 킬을 많이 딴 경기에서 블루가 이길 확률 
print("%.2f%%"%(
    len(df_invade[
        (df_invade.is_invade==True) 
        & (df_invade.invade_kill_blue > df_invade.invade_kill_red) 
        & (df_invade.invade_win_team == 100)]) 
    / len(df_invade[
        (df_invade.is_invade==True) 
        & (df_invade.invade_kill_blue > df_invade.invade_kill_red)])
    * 100)
)

,is_invade,invade_timestamp,invade_kill_blue,invade_kill_red,invade_win_team,total_gold_blue_3_min,total_gold_red_3_min,gold_gap,gameMode
8,True,44425,4,1,100,13290,11933,1357,ARAM
18,True,85817,2,1,100,12770,11884,886,ARAM
19,True,109439,2,1,100,12470,11800,670,ARAM
20,True,73810,4,1,100,13207,11693,1514,ARAM
25,True,67085,1,0,200,9007,7358,1649,ULTBOOK
33,True,85660,1,0,200,8381,7817,564,ULTBOOK
38,True,119040,1,0,200,8404,7791,613,ULTBOOK
39,True,117294,1,0,100,8681,8270,411,ULTBOOK
40,True,58295,2,0,100,10104,6965,3139,ULTBOOK
50,True,80851,2,1,100,13726,12922,804,ARAM
52,True,38338,3,1,100,12732,12680,52,ARAM
55,True,113391,1,0,100,4765,4102,663,CLASSIC
66,True,33553,7,6,100,14107,13468,639,ARAM
78,True,38449,4,2,100,12970,11938,1032,ARAM
89,True,51325,4,1,100,13231,13306,-75,ARAM
93,True,87051,1,0,200,4574,4617,-43,CLASSIC
107,True,94724,1,0,200,12137,11778,359,ARAM
110,True,102768,4,1,200,13094,13059,35,ARAM
112,True,65278,1,0,200,4837,4317,520,CLASSIC
115,True,109974,1,0,100,12392,11756,636,ARAM
120,True,99980,1,0,200,13663,12346,1317,ARAM
123,True,69822,2,0,100,12947,12363,584,ARAM
135,True,119920,1,0,200,4751,4419,332,CLASSIC
140,True,116199,1,0,200,4706,4394,312,CLASSIC
172,True,79362,1,0,100,8317,7373,944,ONEFORALL
179,True,98603,2,0,200,4548,4066,482,CLASSIC

57.69%

In [88]:
match_invade

73

In [84]:
df_invade

,is_invade,invade_timestamp,invade_kill_blue,invade_kill_red,invade_win_team,total_gold_blue_3_min,total_gold_red_3_min,gold_gap,gameMode
0,True,63063,2,2,100,7461,6960,501,URF
1,True,96234,0,1,100,7579,6743,836,URF
2,True,25730,3,7,100,8866,9835,-969,URF
3,True,44363,0,1,100,7998,7759,239,URF
4,True,98734,0,1,200,7114,7840,-726,URF
...,...,...,...,...,...,...,...,...,...
175,False,0,0,0,0,0,0,0,CLASSIC
176,False,0,0,0,0,0,0,0,CLASSIC
177,False,0,0,0,0,0,0,0,CLASSIC
178,False,0,0,0,0,0,0,0,CLASSIC
179,True,98603,2,0,200,4548,4066,482,CLASSIC